@{
    ViewBag.Title = "UI Controls";
}
<h1>UI Controls</h1>

<div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#clearControls">clearControls</button>
        </div>
        <div id="clearControls" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_clearControls.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initAutopostback">
                initAutopostback
            </button>
        </div>
        <div id="initAutopostback" class="collapse @(Request["section"] == "apb" ? "show" : "")">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initAutopostback.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initClickControls">
                initClickControls
            </button>
        </div>
        <div id="initClickControls" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initClickControls.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initToggleStateControls">
                initToggleStateControls
            </button>
        </div>
        <div id="initToggleStateControls" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initToggleStateControls.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initPrintButton">
                initPrintButton
            </button>
        </div>
        <div id="initPrintButton" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initPrintButton.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initScrollFocus">
                initScrollFocus
            </button>
        </div>
        <div id="initScrollFocus" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initScrollFocus.cshtml")
            </div>
        </div>
    </div>
    <div id="divIFB" class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initInputFileButtons">
                initInputFileButtons
            </button>
        </div>
        <div id="initInputFileButtons" class="collapse @(Request["section"] == "ifb" ? "show" : "")">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initInputFileButtons.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initInputFiltering">
                initInputFiltering
            </button>
        </div>
        <div id="initInputFiltering" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initInputFiltering.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initBootstrapTooltips">
                initBootstrapTooltips
            </button>
        </div>
        <div id="initBootstrapTooltips" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initBootstrapTooltips.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initBootstrapCustomFileInput">
                initBootstrapCustomFileInput / clearBootstrapCustomFileInput
            </button>
        </div>
        <div id="initBootstrapCustomFileInput" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initBootstrapCustomFileInput.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#loadCombo">
                loadCombo
            </button>
        </div>
        <div id="loadCombo" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_loadCombo.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#loadComboAjax">
                loadComboAjax
            </button>
        </div>
        <div id="loadComboAjax" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_loadComboAjax.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initComboCascadeAjax">
                initComboCascadeAjax
            </button>
        </div>
        <div id="initComboCascadeAjax" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initComboCascadeAjax.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initComboCascadeJson">
                initComboCascadeJson
            </button>
        </div>
        <div id="initComboCascadeJson" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initComboCascadeJson.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initElapsedTime">
                initElapsedTime / stopElapsedTime
            </button>
        </div>
        <div id="initElapsedTime" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initElapsedTime.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initTableCheckBoxSelection">
                initTableCheckBoxSelection
            </button>
        </div>
        <div id="initTableCheckBoxSelection" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initTableCheckBoxSelection.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initTableSorting">
                initTableSorting
            </button>
        </div>
        <div id="initTableSorting" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initTableSorting.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initTableOrderPOST">
                initTableOrderPOST
            </button>
        </div>
        <div id="initTableOrderPOST" class="collapse @(Request["section"] == "top" ? "show" : "")">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initTableOrderPOST.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initModals">
                initModals / showErrorModal / showSuccessModal / showMessageModal / showConfirmModal
            </button>
        </div>
        <div id="initModals" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initModals.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initIframeModalsLinks">
                initIframeModalsLinks
            </button>
        </div>
        <div id="initIframeModalsLinks" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initIframeModalsLinks.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initSessionTimeoutCheck">
                initSessionTimeoutCheck
            </button>
        </div>
        <div id="initSessionTimeoutCheck" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initSessionTimeoutCheck.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showAlert">
                showAlert / hideAlert
            </button>
        </div>
        <div id="showAlert" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_showAlert.cshtml")
            </div>
        </div>
    </div>
    <div id="divLoadingSection" class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#showLoading">
                showLoading / hideLoading
            </button>
        </div>
        <div id="showLoading" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_showLoading.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initMultiSelect">
                initMultiSelect
            </button>
        </div>
        <div id="initMultiSelect" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initMultiSelect.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initSelectpickerAjax">
                initSelectpickerAjax
            </button>
        </div>
        <div id="initSelectpickerAjax" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initSelectpickerAjax.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initDatePicker">
                initDatePicker
            </button>
        </div>
        <div id="initDatePicker" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initDatePicker.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initCharacterCounter">
                initCharacterCounter
            </button>
        </div>
        <div id="initCharacterCounter" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initCharacterCounter.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initNumeric">
                initNumeric
            </button>
        </div>
        <div id="initNumeric" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initNumeric.cshtml")
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header p-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initPasswordVisibility">
                initPasswordVisibility
            </button>
        </div>
        <div id="initPasswordVisibility" class="collapse">
            <div class="card-body">
                @Html.Partial("~/Views/Home/UIControls/_initPasswordVisibility.cshtml")
            </div>
        </div>
    </div>
    @if (Request["scrollFocus"] == "1")
    {
        <div class="alert alert-success scroll-focus">Scroll focus test complete!</div>
    }
</div>
@section bodyScripts {
    @Html.Partial("~/Views/Home/UIControls/_loadCombo_Scripts.cshtml")
    @Html.Partial("~/Views/Home/UIControls/_loadComboAjax_Scripts.cshtml")
    @Html.Partial("~/Views/Home/UIControls/_initComboCascadeAjax_Scripts.cshtml")
    @Html.Partial("~/Views/Home/UIControls/_initComboCascadeJson_Scripts.cshtml")
}

