@{
    ViewBag.Title = "UI Forms";
}
<h1>UI Forms</h1>
<form id="frmUIForms" class="d-none">
    @Html.AntiForgeryToken()
</form>
<div class="card mb-2">
    <div class="card-header p-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#setAntiForgeryTokenToData">setAntiForgeryTokenToData</button>
    </div>
    <div id="setAntiForgeryTokenToData" class="collapse">
        <div class="card-body">
            @Html.Partial("~/Views/Home/UIForms/_setAntiForgeryTokenToData.cshtml")
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header p-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#setAntiForgeryTokenToFormData">
            setAntiForgeryTokenToFormData
        </button>
    </div>
    <div id="setAntiForgeryTokenToFormData" class="collapse">
        <div class="card-body">
            @Html.Partial("~/Views/Home/UIForms/_setAntiForgeryTokenToFormData.cshtml")
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header p-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#createDataWithAntiForgeryToken">
            createDataWithAntiForgeryToken
        </button>
    </div>
    <div id="createDataWithAntiForgeryToken" class="collapse">
        <div class="card-body">
            @Html.Partial("~/Views/Home/UIForms/_createDataWithAntiForgeryToken.cshtml")
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header p-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#disableEnterSubmit">
            disableEnterSubmit
        </button>
    </div>
    <div id="disableEnterSubmit" class="collapse">
        <div class="card-body">
            @Html.Partial("~/Views/Home/UIForms/_disableEnterSubmit.cshtml")
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header p-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#initDisableOnSubmitButtons">
            initDisableOnSubmitButtons
        </button>
    </div>
    <div id="initDisableOnSubmitButtons" class="collapse">
        <div class="card-body">
            @Html.Partial("~/Views/Home/UIForms/_initDisableOnSubmitButtons.cshtml")
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header p-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#setValidationSummaryVisibility">
            setValidationSummaryVisibility
        </button>
    </div>
    <div id="setValidationSummaryVisibility" class="collapse @(Request["section"] == "vsv" ? "show" : "")">
        <div class="card-body">
            @Html.Partial("~/Views/Home/UIForms/_setValidationSummaryVisibility.cshtml")
        </div>
    </div>
</div>