@using namasdev.Web.JS.Sample.Models;
<div>
    <div class="form-row">
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "InputMask Numeric (default selector)",
                MainHtml = @<text>
                    <div class="form-group">
                        <input type="text" id="txtIMN1" class="form-control inputmask-numeric" />
                    </div>
                </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "InputMask Numeric (default selector and data attributes)",
                MainHtml = @<text>
                    <div class="form-group">
                        <input type="text" id="txtIMN2" class="form-control inputmask-numeric" data-inputmask-allowMinus="true" data-inputmask-groupSeparator="," data-inputmask-digits="3" data-inputmask-min="-9999.999" data-inputmask-max="9999.999" />
                        <small class="text-muted">Allow negatives, ',' separator, 3 decimal places, min -9,999.999 and max 9,999.999</small>
                    </div>
                </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "InputMask Numeric (custom selector and options)",
                MainHtml = @<text>
                    <div class="form-group">
                        <input type="text" id="txtIMN3" class="form-control" />
                        <small class="text-muted">Allow negatives, ',' separator, 4 decimal places, min -99,999.5 max 99,999.5</small>
                    </div>
                </text>
            })
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "InputMask Integer (default selector)",
                MainHtml = @<text>
                    <div class="form-group">
                        <input type="text" id="txtIMI1" class="form-control inputmask-integer" />
                    </div>
                </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "InputMask Integer (default selector and data attributes)",
                MainHtml = @<text>
                    <div class="form-group">
                        <input type="text" id="txtIMI2" class="form-control inputmask-integer" data-inputmask-allowMinus="true" data-inputmask-groupSeparator="," data-inputmask-min="-9999" data-inputmask-max="9999" />
                        <small class="text-muted">Allow negatives, ',' separator, min -9,999 and max 9,999</small>
                    </div>
                </text>
            })
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            @Html.Partial("_ControlContainer", new ControlContainer
            {
                Title = "InputMask Integer (custom selector and options)",
                MainHtml = @<text>
                    <div class="form-group">
                        <input type="text" id="txtIMI3" class="form-control" />
                        <small class="text-muted">Allow negatives, ',' separator, min -99,999 max 99,999</small>
                    </div>
                </text>
            })
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        nmd.ui.controls.initInputMaskNumeric('#txtIMN3', {
            allowMinus: true,
            groupSeparator: ',',
            digits: 4,
            min: -99999.5,
            max: 99999.5,
        });

        nmd.ui.controls.initInputMaskInteger('#txtIMI3', {
            allowMinus: true,
            groupSeparator: ',',
            min: -99999,
            max: 99999,
        });
    });
</script>